html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url('images/angular-react.webp');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Make sure the body takes up the full viewport height */
  }

